<section class="mt-3">
    <div class="container">
        <h1>Cadastrar Venda</h1>
        <p class="text-secondary">Cadastrar a venda de um produto no sistema.</p>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form id="sale-form">
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="codeFormInput">Código</label>
                                <input type="number" class="form-control" id="codeFormInput" placeholder=""
                                    required>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="quantityFormInput">Quant.</label>
                                <input type="number" class="form-control" id="quantityFormInput" placeholder=""
                                    required>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="saleDateFormInput">Data da compra</label>
                                <input type="datetime-local" class="form-control" id="saleDateFormInput" placeholder="" required>
                                <div class="form-check">
                                    <input class="form-check-input check-today" type="checkbox" id="checkbox-form">
                                    <label class="form-check-label" for="checkbox-form">
                                        Hoje?
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="expirationDateFormInput">Data de validade</label>
                                <input type="datetime-local" class="form-control" id="expirationDateFormInput"
                                    placeholder="">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
</section>

<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-9 col-lg-3">
                <div class="input-group">
                    <input id="query-input" name="query-input" type="text" class="form-control"
                        placeholder="Pesquisar...">
                    <div class="input-group-append">
                        <button id="btn-search" class="btn btn-primary">
                            <span class="oi oi-magnifying-glass"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <button class="btn btn-success" id="btn-create">Cadastrar venda</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-6 mt-2">
                <button class="btn btn-info" data-toggle="modal"
                    data-target="#modal-create-product">Adicionar novo produto</button>
            </div>
        </div>
    </div>
</section>
<section class="my-5">
    <div class="container">
        <table class="table" id="tabelaProdutos">
            <thead class="thead-light">
                <tr>
                    <th>#</th>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Valor</th>
                    <th>Data cadastro</th>
                    <th>Data de validade</th>
                    <th>Quant. disp.</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <td><a href="/products/{{id}}">{{id}}</a></td>
                    <td>{{code}}</td>
                    <td>{{name}}</td>
                    <td>{{description}}</td>
                    <td>{{priceFormat}}</td>
                    <td>{{dateCreatedFormat}}</td>
                    <td>{{expirationDateFormat}}</td>
                    <td>{{quantityAvailable}}</td>
                </tr>
                {{/each }}
            </tbody>
        </table>
    </div>
</section>

<div class="modal modal-fade" id="modal-create-product">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h2>Cadastrar produto</h2>
                <p class="text-secondary">
                    Insira as informações do novo produto e clique em Enviar
                </p>
                <form class="my-3" id="product-form">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="productNameFormInput">Nome</label>
                                <input type="text" class="form-control" id="productNameFormInput"
                                    placeholder="Creme de barbear" required>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="codeFormInput">Código</label>
                                <input type="number" class="form-control" id="codeFormInput" placeholder="0042"
                                    required>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="priceFormInput">Preço por unidade</label>
                                <input type="number" class="form-control" id="priceFormInput" placeholder="">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="descriptionFormInput">Descrição do produto</label>
                                <textarea class="form-control" id="descriptionFormInput"></textarea>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="saleDateFormInput">Data da compra</label>
                                <input type="datetime-local" class="form-control" id="saleDateFormInput" placeholder="" required>
                                <div class="form-check">
                                    <input class="form-check-input check-today" type="checkbox" id="checkbox-modal">
                                    <label class="form-check-label" for="checkbox-modal">
                                        Hoje?
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="expirationDateFormInput">Data de validade</label>
                                <input type="datetime-local" class="form-control" id="expirationDateFormInput"
                                    placeholder="">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="quantityFormInput">Quant.</label>
                                <input type="number" class="form-control" id="quantityFormInput" placeholder=""
                                    required>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn mr-2 text-primary">Cancelar</button>
                <button type="button" id="btn-create-product" class="btn btn-success">Enviar</button>
            </div>
        </div>
    </div>
</div>

<script async defer src="/js/sale.js"></script>