<section class="mt-3">
    <div class="container">
        <h1>Histórico de Vendas</h1>
        <p class="text-secondary">Histórico das vendas registradas no sistema</p>
    </div>
</section>
<section class="my-5">
    <div class="container">
        <table class="table" id="tabelaProdutos">
            <thead class="thead-light">
                <tr>
                    <th>Código</th>
                    <th>Data cadastro</th>
                    <th>Data pagamento</th>
                    <th>Cliente</th>
                    <th>Valor Total</th>
                    <th>Desconto</th>
                    <th>Valor c/ desconto</th>
                    <th>Status</th>
                    <th>Produtos</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>

                {{#unless salesDetail.length }}
                <td colspan="8">
                    Nenhum registro de venda cadastrado.
                </td>
                {{/unless}}

                {{#each salesDetail}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{dateCreatedFormat}}</td>
                    <td>{{datePaymentFormat}}</td>
                    <td>{{CustomerName}}</td>
                    <td>{{totalWithoutDiscont}}</td>
                    <td>{{discountFormated}}</td>
                    <td>{{totalPriceFormated}}</td>
                    <td class="sale-status"><span class="{{statusFormat.className}}">{{statusFormat.name}}</span></td>
                    <td><a href="javascript:" class="text-success products-detail-action" data-id="{{id}}">Produtos</a>
                    </td>
                    <td><i class="oi oi-pencil text-primary edit-action" data-id="{{id}}"
                            title="Editar registro de venda"></i>
                        <i class="oi oi-x text-danger remove-action" data-id="{{id}}"
                            title="Excluir registro de venda"></i></td>
                </tr>
                {{/each }}
            </tbody>
        </table>
    </div>
</section>

<section>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="TituloModalLongoExemplo">Venda Código: </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th>Nome</th>
                                <th>Data de Validade</th>
                                <th>Quant.</th>
                                <th>Preço</th>
                                <th>Preço de Venda</th>
                            </tr>
                        </thead>
                        <tbody id="modal-table-body">
                            {{!-- Corpo da tabela inserido pelo Javascript --}}
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary">Salvar mudanças</button>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/js/sales-history.js"></script>