<section class="mt-3">
	<div class="container">
		<h1>Histórico de Vendas</h1>
		<p class="text-secondary">Histórico das vendas registradas no sistema</p>
	</div>
</section>
<section class="my-5">
	<div class="container">
		<table class="table" id="tabelaVendas">
			<thead class="thead-light">
				<tr>
					<th>Cód.</th>
					<th>Data cadastro</th>
					<th>Data pagamento</th>
					<th>Cliente</th>
					<th>Valor Total</th>
					<th>Desconto</th>
					<th>Valor c/ desconto</th>
					<th>Tipo pag.</th>
					<th>Status</th>
					<th>Produtos</th>
					<th>Ação</th>
				</tr>
			</thead>
			<tbody>

				{{#unless salesDetail.length }}
				<td colspan="8">
					Nenhum registro de venda cadastrado.
				</td>
				{{/unless}}

				{{#each salesDetail}}
				<tr>
					<td>{{id}}</td>
					<td>{{dateCreatedFormat}}</td>
					<td>{{datePaymentFormat}}</td>
					<td>{{CustomerName}}</td>
					<td>{{totalWithoutDiscont}}</td>
					<td>{{discountFormated}}</td>
					<td>{{totalPriceFormated}}</td>
					<td>{{paymentMethodFormat.name}}</td>
					<td class="sale-status"><span class="{{statusFormat.className}}">{{statusFormat.name}}</span></td>
					<td><a href="javascript:" class="text-success products-detail-action" data-id="{{id}}">Produtos</a>
					</td>
					<td>
						<div class="dropdown">
							<a class="btn btn-info" data-toggle="dropdown">
								<i class="oi oi-menu"></i>
							</a>
							<div class="dropdown-menu dropdown-menu-right">
								<span data-id="{{id}}" id="confirm-action" class="dropdown-item text-success"><i class="oi oi-check"
									 title="Confirmar registro de venda"></i> Confirmar</span>
								<span data-id="{{id}}" id="edit-action" class="dropdown-item text-primary"><i class="oi oi-pencil"
									 title="Editar registro de venda"></i> Editar</span>
								<span data-id="{{id}}" id="cancel-action" class="dropdown-item text-danger"><i class="oi oi-x"
									 title="Excluir registro de venda"></i> Cancelar</span>
							</div>
						</div>
					</td>
				</tr>
				{{/each }}
			</tbody>
		</table>
	</div>
</section>

<section>
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Venda Código: <span id="TituloModal"></span></h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<table class="table">
						<thead class="thead-light">
							<tr>
								<th>Nome</th>
								<th>Data de Validade</th>
								<th>Quant.</th>
								<th>Preço</th>
								<th>Preço de Venda</th>
							</tr>
						</thead>
						<tbody id="modal-table-body">
							{{!-- Corpo da tabela inserido pelo Javascript --}}
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="modal fade" id="modal-edit" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Venda Código: <span id="TituloModal"></span></h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<span class="col-12">Cliente: <a data-key="customer" id="input-customer" href="#"></a></span>
						<span class="col-12">Status: <a data-key="status" id="input-status" href="#"></a></span>
						<span class="col-12">Forma de pagamento: <a data-key="payment" id="input-payment"
								href="#"></a></span>
						<small class="text-info text-right col-12">
							<i class="oi oi-info"></i>
							(Clique no item que deseja alterar)
						</small>
						<div class="form-group col-12">
							<hr>
						</div>
						<div class="form-group col-12">
							<label>Data de pagamento</label>
							<input id="input-data-payment" class="form-control" type="datetime-local" name="">
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-success" id="pop-up-save">Salvar mudanças</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="modal" id="modal-pop-up" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<table id="modal-table" class="table">
					<thead id="modal-table-head">
					</thead>
					<tbody id="modal-table-body">
					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>

<script src="/js/sales-history.js"></script>